<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="fr" style="font-family:'Helvetica Neue', Helvetica, Arial, sans-serif; box-sizing:border-box; font-size:14px; margin:0;">

<head>
    <meta name="viewport" content="width=device-width" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email Confirmed/Completed</title>  
</head>
<body>
<!-- Content  -->
</body>

</html>